[Interface]
PrivateKey = {{ WIREGUARD_PRIVATE_KEY }}
Address = {{ WIREGUARD_IP }}/32
ListenPort = {{ WIREGUARD_PORT }}
SaveConfig = true
{% for accounts in WIREGUARD_ACCOUNTS %}
{% if accounts.target == WIREGUARD_NODE %}
{% if accounts.state == "present" %}
[Peer]
PublicKey = {{ accounts.public_key }}
AllowedIPs = {{ accounts.ip }}/32
{% endif %}
{% endif %}
{% endfor %}
