# Запускаем сервер от пользователя proxy3
# (возможно в вашей ОС uid и gid пользователя proxy3
# будут другими. Для их определения воспользуйтесь командой id proxy3)
setgid {{ proxy_user.group }}
setuid {{ proxy_user.uid }}
#
# Пропишите правильные серверы имен посмотрев их
# на своем сервере в /etc/resolv.conf
{% for dns in PROXY_NAME_SERVERS %}
nserver {{ dns }}
{% endfor %}
#
# Оставьте размер кэша для запросов DNS по умолчанию
nscache 65536
#
# Равно как и таймауты
timeouts 1 5 30 60 180 1800 15 60
#
#если нужна персистентность между запусками, у 3proxy должны быть права на доступ к файлу
#counter /etc/3proxy/.countall
#countall поддерживается в 0.9.3, это если надо считать весь трафик. В более старых только countin/countout
#Можно считать отдельно входящий и исходящий через countin/countout.
#Трафика надо давать на 10-15% меньше, чем провайдер, т.к. провайдер считает сетевой или даже канальный трафик, а прокси считает прикладной
# 15 мегабайт в день
#countall "1/h963z57" 1 D 10
# 250 мегабайт в месяц
#countall 2 M 250

# Если несколько IP на одном сервере, указываем тот,
# через который будем ходить во внешний мир.
# Иначе эту строку игнорируем
#external <YOURSERVERIP>
# Тоже самое, только указываем IP, который надо слушать
# Если проигнорировать, то прокси слушает все адреса на сервере
#internal <YOURSERVERIP>
#
# Указываем на расположение файла с пользователями и паролями
{% for account in PROXY_ACCOUNTS %}
{% if account.target == PROXY_NODE %}
{% if account.state == "present" %}
users {{ account.name }}:{{ account.pass_type }}:{{ account.password }}
{% endif %}
{% endif %}
{% endfor %}
#
# укажите режим запуска как deamon
daemon
#
# путь к логам и формат лога, к имени лога будет добавляться дата создания
log /var/log/3proxy/3proxy.log D
logformat "- +_L%t.%. %N.%p %E %U %C:%c %R:%r %O %I %h %T"
rotate 7
#
# Включаем авторизацию по логинам и паролям
auth cache strong
#
# Конфигурация http(s) proxy
# Запускаем анонимный (-a) HTTP-proxy на порту (-p) 3128 и
# c отключенной NTLM-авторизацией (-n)
proxy -n -p{{ PROXY_PORT }} -a