#!/bin/bash

echo "{{ SERVERNAME }}-node backup result" > /var/log/synk.log
echo "" >> /var/log/synk.log

{% for chain in MC_SYNCPAIR %}
{% if chain.target == SERVERNAME %}
{% if chain.state == "present" %}
{% if chain.type == "tar" %}
tar cz {{ chain.src }} | mc pipe {{ chain.dest }}/backup-{{ chain.name }}-$(date +%Y-%m-%d).tar.gz
if [ $? -ne 0 ]; then
  echo "Synk *ERROR* {{ chain.name }}" >> /var/log/synk.log
else
  echo "Sync success {{ chain.name }}" >> /var/log/synk.log
fi
{% elif chain.type == "sync" %}
mc mirror --remove --overwrite {{ chain.src }} {{ chain.dest }}
if [ $? -ne 0 ]; then
  echo "Synk *ERROR* {{ chain.name }}" >> /var/log/synk.log
else
  echo "Sync success {{ chain.name }}" >> /var/log/synk.log
fi
{% elif chain.type == "file" %}
mc cp {{ chain.src }} {{ chain.dest }}/file-{{ chain.name }}-$(date +%Y-%m-%d)
if [ $? -ne 0 ]; then
  echo "Synk *ERROR* {{ chain.name }}" >> /var/log/synk.log
else
  echo "Sync success {{ chain.name }}" >> /var/log/synk.log
fi
{% elif chain.type == "bucketState" %}
mc cp -r {{ chain.src }} {{ chain.dest }}/state-{{ chain.name }}-$(date +%Y-%m-%d)
if [ $? -ne 0 ]; then
  echo "Synk *ERROR* {{ chain.name }}" >> /var/log/synk.log
else
  echo "Sync success {{ chain.name }}" >> /var/log/synk.log
fi
{% elif chain.type == "pgsql" %}
export PGPASSWORD='{{ DOCKER_COMPOSE_DB_MASTER_PASS }}' 
pg_dump -U {{ DOCKER_COMPOSE_DB_MASTER_USER }} -d {{ chain.name }} -h {{ chain.src }} > /tmp/database-{{ chain.name }}-$(date +%Y-%m-%d).pgsql.sql # | mc pipe {{ chain.dest }}/backup-{{ chain.name }}-$(date +%Y-%m-%d).pgsql.sql
mc mv /tmp/database-{{ chain.name }}-$(date +%Y-%m-%d).pgsql.sql {{ chain.dest }}/
if [ $? -ne 0 ]; then
  echo "Synk *ERROR* {{ chain.name }}" >> /var/log/synk.log
else
  echo "Sync success {{ chain.name }}" >> /var/log/synk.log
fi
{% elif chain.type == "efs-tar" %}
tar cz /mnt/EFS/{{ chain.name }} | mc pipe {{ chain.dest }}/backup-{{ chain.name }}-$(date +%Y-%m-%d).tar.gz
if [ $? -ne 0 ]; then
  echo "Synk *ERROR* {{ chain.name }}" >> /var/log/synk.log
else
  echo "Sync success {{ chain.name }}" >> /var/log/synk.log
fi
{% elif chain.type == "efs-sync" %}
mc mirror --remove --overwrite /mnt/EFS/{{ chain.name }} {{ chain.dest }}
if [ $? -ne 0 ]; then
  echo "Synk *ERROR* {{ chain.name }}" >> /var/log/synk.log
else
  echo "Sync success {{ chain.name }}" >> /var/log/synk.log
fi
{% endif %}
{% endif %}
{% endif %}
{% endfor %}

python3 sendemail.py /var/log/synk.log
rm /var/log/synk.log