:if ([/user find name={{ MIKROTIK_ANSIBLE_ADMIN }}] ="") do={ :log info "User {{ MIKROTIK_ANSIBLE_ADMIN }} not found... Add it"}
:if ([/user find name={{ MIKROTIK_ANSIBLE_ADMIN }}] ="") do={ /file print file=ansible_key.txt; :delay 2; /file set ansible_key.txt contents="{{ MIKROTIK_ANSIBLE_SSH_PUB }}"; :log info "Create pub key file {{ MIKROTIK_ANSIBLE_ADMIN }}"; /user add name={{ MIKROTIK_ANSIBLE_ADMIN }} group=full password={{random_passwd.stdout}}; :delay 2; /user ssh-keys import user={{ MIKROTIK_ANSIBLE_ADMIN }} public-key-file=ansible_key.txt; :log info "Create {{ MIKROTIK_ANSIBLE_ADMIN }} user"}
